div#container
  //- navigation bar, has bug here. Layout should be controlled in Application.js by jquery layout library.
  //- include includes/navbar
  div#navigation
    div.palette_node_element.draw2d_droppable(data-shape="draw2d_circuit_switch_HighLow") Switch
    div.palette_node_element.draw2d_droppable(data-shape="draw2d_circuit_display_Led") Led
    div.palette_node_element.draw2d_droppable(data-shape="C74LS00") 74LS00
    div.palette_node_element.draw2d_droppable(data-shape="C74LS04") 74LS04
    div.palette_node_element.draw2d_droppable(data-shape="C74LS86") 74LS86
  div#toolbar
    div#radio
      input#radio1(type="radio", name="radio", data-router="draw2d.layout.connection.ManhattanConnectionRouter", checked="checked")
      label(for="radio1") Manhattan
      input#radio2(type="radio", name="radio", data-router="draw2d.layout.connection.ManhattanBridgedConnectionRouter")
      label(for="radio2") Manhattan Bridged
      input#radio3(type="radio", name="radio", data-router="draw2d.layout.connection.InteractiveManhattanConnectionRouter")
      label(for="radio3") Interactive Manhattan
      input#radio4(type="radio", name="radio", data-router="draw2d.layout.connection.CircuitConnectionRouter")
      label(for="radio4") Circuit
  div#canvasWrapper.content
    div#canvas(style="width:3000px; height:3000px;")
    div#probe_window