//- bower_components: jquery
script(src="/jquery/jquery.min.js")
//- bower_components: draw2d
script(src="/draw2d/dist/shifty.js")
script(src="/draw2d/dist/patched_raphael.js")
script(src="/draw2d/dist/jquery.autoresize.js")
script(src="/draw2d/dist/jquery-touch_punch.js")
script(src="/draw2d/dist/jquery.contextmenu.js")
script(src="/draw2d/dist/rgbcolor.js")
script(src="/draw2d/dist/patched_canvg.js")
script(src="/draw2d/dist/patched_Class.js")
script(src="/draw2d/dist/json2.js")
script(src="/draw2d/dist/pathfinding-browser.min.js")
script(src="/draw2d/dist/draw2d.js")

script(src="/lib/jquery.browser.js")
script(src="/lib/jquery-ui-1.8.23.custom.min.js")
script(src="/lib/jquery.layout.js")