block scripts
	//- bower_components: draw2d
	script(src="/draw2d/dist/shifty.js")
	script(src="/draw2d/dist/patched_raphael.js")
	script(src="/jquery/jquery.min.js")
	script(src="/draw2d/dist/jquery-touch_punch.js")
	script(src="/draw2d/dist/jquery.autoresize.js")
	script(src="/draw2d/dist/jquery.contextmenu.js")
	script(src="/draw2d/dist/rgbcolor.js")
	script(src="/draw2d/dist/patched_canvg.js")
	script(src="/draw2d/dist/patched_Class.js")
	script(src="/draw2d/dist/json2.js")
	script(src="/draw2d/dist/pathfinding-browser.min.js")
	script(src="/draw2d/dist/draw2d_core.js")

	//- draw2d Classes for the GUI editor application
	script(src="/javascripts/draw2d/Application.js")
	script(src="/javascripts/draw2d/Palette.js")
	script(src="/javascripts/draw2d/View.js")
	script(src="/javascripts/draw2d/Toolbar.js")
	script(src="/javascripts/draw2d/HoverConnection.js")
	script(src="/javascripts/draw2d/ConnectionRouter.js")
	script(src="/javascripts/draw2d/ConnectionSelectionFeedbackPolicy.js")
	script(src="/javascripts/draw2d/DropInterceptorPolicy.js")
