//- bower_components: draw2d
script(src="/draw2d/dist/shifty.js")
script(src="/draw2d/dist/patched_raphael.js")
script(src="//cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js")
script(src="/draw2d/dist/jquery-touch_punch.js")
script(src="/draw2d/dist/jquery.autoresize.js")
script(src="/draw2d/dist/jquery.contextmenu.js")
script(src="/draw2d/dist/rgbcolor.js")
script(src="/draw2d/dist/patched_canvg.js")
script(src="/draw2d/dist/patched_Class.js")
script(src="/draw2d/dist/json2.js")
script(src="/draw2d/dist/pathfinding-browser.min.js")

script(src="/draw2d/dist/draw2d_core.js")

script(src="/lib/jquery.browser.js")
script(src="/lib/jquery-ui-1.8.23.custom.min.js")
script(src="/lib/jquery.layout.js")

script(src="/javascripts/settings/backend.js")

//- draw2d Classes for the GUI editor application
script(src="/javascripts/draw2d/Application.js")
script(src="/javascripts/draw2d/Palette.js")
script(src="/javascripts/draw2d/View.js")
script(src="/javascripts/draw2d/Toolbar.js")
