html
  head
    title= title + " - 数字实验在线系统"
    
    link(rel="stylesheet", href="/Ionicons/css/ionicons.min.css")
    link(rel="stylesheet", href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/navbar-static-top.css")
    link(rel="stylesheet", href="/lib/aristo/jquery-ui-1.8.16.custom.css")
    link(type="text/css" rel="stylesheet", href="/stylesheets/visual-editor.css")
    //- ToDo: Customize vhdl editor's UI with bootstrap to adapt to more device size
    link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/css/fileinput.min.css")


body(role="document")
  div#layout
    include includes/navbar
    div.container-fluid(style="margin:0px;padding:0px;")
      div.row
        div.col-sm-4
          ul#editorTab.nav.nav-pills(style="padding-left:5px;")
            li.active: a(href="#visual", data-toggle="tab") 可视化编辑&nbsp;
              span.glyphicon.glyphicon-forward
            - if (motivate)
              li: a(href="#motivate", data-toggle="tab") 激励&nbsp;
                span.glyphicon.glyphicon-forward
        div.col-sm-4
          form.form-inline(role="form")
            div.form-group(style="margin-right:10px;")
              label(for="tagname") 标签：
              input#tagname.form-control(type="text", value="新建")
      div#editorTabContent.tab-content
        div#visual.tab-pane.in.active
          include includes/canvas
        include includes/wave-editor
  btn.submit-btn.btn.btn-lg.btn-danger 提交
  include includes/modal-vhdl

block addscript
  script(src="//cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js")
  //- draw2d library dependencies
  include includes/draw2d_js
  script(src="//cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="/javascripts/layout-jump-prob.js")
  script(src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/js/fileinput.min.js")
  script(src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/js/locales/zh.min.js")
  script(src="/javascripts/editor-draw.js")
  script(src="/chips/json/1bit_adder.json")
  script(src="/chips/json/circuit_adder_1bit.js")
  script(src="/javascripts/editor-toVHDL.js")
  script(src="/javascripts/editor-draw-submit.js")
  script(src="/javascripts/editor-draw-tab.js")
  script(src="/javascripts/editor-submit.js")

  //- draw2d Classes for the GUI editor application
  script(src="/javascripts/draw2d/Application.js")
  script(src="/javascripts/draw2d/Palette.js")
  script(src="/javascripts/draw2d/ConnectionSelectionFeedbackPolicy.js")
  script(src="/javascripts/draw2d/DropInterceptorPolicy.js")
  script(src="/javascripts/draw2d/ConnectionRouter.js")
  script(src="/javascripts/draw2d/View.js")
  script(src="/javascripts/draw2d/Toolbar.js")
  script(src="/javascripts/draw2d/circuit/test.circuit")

  script.
    var app;
    var showJSON = true;
    $(window).load( function(){
      app = new tot.Application();
    //-   app.load(circuit_adder_1bit);
      if (showJSON === true) {
        // displayJSON(app.view);

        // add an event listener to the Canvas for change notifications.
        // We just dump the current canvas document into the DIV
        //
        app.view.getCommandStack().addEventListener(
          function(e){
            if(e.isPostChangeEvent()){
                displayJSON(app.view);
          }
        });
      }
    });
    function displayJSON(canvas){
      var writer = new draw2d.io.json.Writer();
      writer.marshal(canvas, function(json){
          $("#json").html("<pre>"+JSON.stringify(json,null,2)+"<pre>");
      });
    }
