doctype html
head 
  title Visual Editor
  block addstylesheets
    link(rel="stylesheet", href="/stylesheets/aristo/jquery-ui-1.8.16.custom.css")
    link(rel="stylesheet", href="/stylesheets/jquery.layout.css")
    link(rel="stylesheet", href="/stylesheets/visual-editor.css")

body#container
  div#content
    div#toolbar
      div#radio
        input#radio1(type="radio", name="radio", data-router="draw2d.layout.connection.ManhattanConnectionRouter")
        label(for="radio1") Manhattan
        input#radio2(type="radio", name="radio", data-router="draw2d.layout.connection.ManhattanBridgedConnectionRouter")
        label(for="radio2") Manhattan Bridged
    div#canvas
  div#navigation
    p.palette_node_element.draw2d_droppable Hello
    p.palette_node_element.draw2d_droppable World


  block addscript
    include includes/visual-js
    script(src="/javascripts/draw2d/figure/example.json")
    script.
      $(window).load(function(){
        var app = new tot.Application();
        app.load(jsonDocument);
      });
    
    