extends layout
head 
  block stylesheets
    link(type="text/css" rel="stylesheet", href="/stylesheets/canvas.css")
    //- ToDo: Customize vhdl editor's UI with bootstrap to adapt to more device size
    link(type="text/css" rel="stylesheet", href="/stylesheets/vhdleditor.css")

block content
  link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/css/fileinput.min.css")
  div.container-fluid
    ul#editorTab.nav.nav-pills
      li.active
        a(href="#visual", data-toggle="tab") 可视化编辑&nbsp;
          span.glyphicon.glyphicon-forward
      li
        a(href="#vhdl", data-toggle="tab") VHDL编辑&nbsp;
          span.glyphicon.glyphicon-forward
    div#editorTabContent.tab-content
      div#visual.tab-pane.in.active
        include includes/canvas
      div#vhdl.tab-pane
        include includes/vhdleditor

block addscript
  script(src="http://cdn.bootcss.com/ace/1.2.5/ace.js", type="text/javascript", charset="utf-8")
  script(src="http://cdn.bootcss.com/ace/1.2.5/ext-language_tools.js")
  script(src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/js/fileinput.min.js")
  script(src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/js/locales/zh.min.js")
  script(src="/javascripts/editor-ace-config.js")
  script(src="https://cdn.rawgit.com/konvajs/konva/1.1.0/konva.js")
  script(src="/javascripts/editor-tab.js")
  script(src="/javascripts/editor-draw.js")
  script(src="/javascripts/editor-toVHDL.js")
  //- bower_components: draw2d
  script(src="/draw2d/dist/shifty.js")
  script(src="/draw2d/dist/patched_raphael.js")
  script(src="/draw2d/dist/jquery-touch_punch.js")
  script(src="/draw2d/dist/jquery.autoresize.js")
  script(src="/draw2d/dist/jquery.contextmenu.js")
  script(src="/draw2d/dist/rgbcolor.js")
  script(src="/draw2d/dist/patched_canvg.js")
  script(src="/draw2d/dist/patched_Class.js")
  script(src="/draw2d/dist/json2.js")
  script(src="/draw2d/dist/pathfinding-browser.min.js")
  script(src="/draw2d/dist/draw2d_core.js")

  //- draw2d Classes for the GUI editor application
  script(src="/javascripts/draw2d/Application.js")
  script(src="/javascripts/draw2d/Palette.js")
  script(src="/javascripts/draw2d/View.js")
  script(src="/javascripts/draw2d/Toolbar.js")
