doctype html
head
  title Visual Editor
  block stylesheets
    link(rel="stylesheet", href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/lib/aristo/jquery-ui-1.8.16.custom.css")
    link(rel="stylesheet", href="/lib/jquery.layout.css")
    link(rel="stylesheet", href="/stylesheets/visual-editor.css")

body#container
  //- navigation bar, has bug here. Layout should be controlled in Application.js by jquery layout library.
  //- include includes/navbar
  div#navigation
    div.palette_node_element.draw2d_droppable(data-shape="draw2d_circuit_switch_HighLow") Switch
    div.palette_node_element.draw2d_droppable(data-shape="draw2d_circuit_display_Led") Led
    div.palette_node_element.draw2d_droppable(data-shape="C74LS00") 74LS00
    div.palette_node_element.draw2d_droppable(data-shape="C74LS04") 74LS04
    div.palette_node_element.draw2d_droppable(data-shape="C74LS86") 74LS86
    //- ToDO: 添加跳转Button to VHDL editor
    div#VHDL
      button.btn.btn-lg.btn-link(type="button")
        a(href="/vhdl", onclick="") VHDL
  div#content
    div#toolbar
      div#radio
        input#radio1(type="radio", name="radio", data-router="draw2d.layout.connection.ManhattanConnectionRouter", checked="checked")
        label(for="radio1") Manhattan
        input#radio2(type="radio", name="radio", data-router="draw2d.layout.connection.ManhattanBridgedConnectionRouter")
        label(for="radio2") Manhattan Bridged
        input#radio3(type="radio", name="radio", data-router="draw2d.layout.connection.InteractiveManhattanConnectionRouter")
        label(for="radio3") Interactive Manhattan
        input#radio4(type="radio", name="radio", data-router="draw2d.layout.connection.CircuitConnectionRouter")
        label(for="radio4") Circuit
    div#canvas(style="width:3000px; height:3000px;")
    div#json

  block addscript
    //- draw2d library dependencies
    include includes/draw2d_js

    //- draw2d Classes for the GUI editor application
    script(src="/javascripts/draw2d/Application.js")
    script(src="/javascripts/draw2d/Palette.js")
    script(src="/javascripts/draw2d/View.js")
    script(src="/javascripts/draw2d/Toolbar.js")
    script(src="/javascripts/draw2d/circuit/test.circuit")

    //- 为了显示右下角的zoom button需要把json显示栏隐藏
    script.
      var showJSON = true;
      $(window).load( function(){
        var app = new tot.Application();
        //app.load(testCircuit);
        if (showJSON === true) {
          displayJSON(app.view);
          // add an event listener to the Canvas for change notifications.
          // We just dump the current canvas document into the DIV
          //
          app.view.getCommandStack().addEventListener(
            function(e){
              if(e.isPostChangeEvent()){
                  displayJSON(app.view);
            }
          });
        }
      });
      function displayJSON(canvas){
        var writer = new draw2d.io.json.Writer();
        writer.marshal(canvas, function(json){
            $("#json").html("<pre>"+JSON.stringify(json,null,2)+"<pre>");

        });
      }
