html
  head
    title Visual Editor
  
    link(rel="stylesheet", href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/navbar-static-top.css")
    
    block stylesheets
      link(type="text/css" rel="stylesheet", href="/stylesheets/visual-editor.css")
      //- ToDo: Customize vhdl editor's UI with bootstrap to adapt to more device size
      link(type="text/css" rel="stylesheet", href="/stylesheets/vhdleditor.css")
      link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/css/fileinput.min.css")


body(role="document")
  block content
    div#layout
      include includes/navbar
      div.container-fluid(style="margin:0px;padding:0px;")
        ul#editorTab.nav.nav-pills(style="padding-left:5px;")
          li.active
            a(href="#visual", data-toggle="tab") 可视化编辑&nbsp;
              span.glyphicon.glyphicon-forward
          li
            a(href="#vhdl", data-toggle="tab") VHDL编辑&nbsp;
              span.glyphicon.glyphicon-forward
        div#editorTabContent.tab-content
          div#visual.tab-pane.active
            include includes/canvas
          div#vhdl.tab-pane
            include includes/vhdleditor

block addscript
  //- script(src="//cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js")
  script(src="//cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="/javascripts/layout-jump-prob.js")
  script(src="http://cdn.bootcss.com/ace/1.2.5/ace.js", type="text/javascript", charset="utf-8")
  script(src="http://cdn.bootcss.com/ace/1.2.5/ext-language_tools.js")
  script(src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/js/fileinput.min.js")
  script(src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.5/js/locales/zh.min.js")
  script(src="/javascripts/editor-ace-config.js")
  script(src="/javascripts/editor-tab.js")
  script(src="/javascripts/editor-draw.js")
  script(src="/javascripts/editor-toVHDL.js")
