doctype html
html
  head
    title= title
    link(rel="stylesheet", href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body(role="document")
    script(src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js")
    script(src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js")
    //- script(src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css")
    //- navigation bar
    nav.navbar.navbar-default.navbar-inverse(role="navigation")
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="/") 数字电路在线实验系统
        div.navbar-left
          ul.nav.navbar-nav
            li
              a(href="/editor#visual") 开始编辑
            li
              a(href="#") STATUS
            li
              a(href="#") SUBMISSIONS
        div.navbar-right
          - if (user)
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  span.glyphicon.glyphicon-off &nbsp;#{ user }
                  span.caret
                ul.dropdown-menu(role="menu", aria-labelledby="userMenuDrop0")
                  li(role="presentation")
                    a(role="menuitem", href="#") 个人信息
                  li.divider(role="presentation")
                  li(role="presentation")
                    a(role="menuitem", href="/auth/logout") 退出
          - else
            ul.nav.navbar-nav
              li
                a(href="/auth/login") 登录

    block content
