body{
 font-family:Helvetica, Arial, Verdana, sans-serif;
 color:#6b6b6b;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

#container {
  margin: 0;
  padding: 5px;
  /*margin-right: 0;*/
  width: 100%;
}

#toolbar{
  background: #cecece; /* Old browsers */
  background: -moz-linear-gradient(top,  #cecece 0%, #a8a8a8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cecece 0%,#a8a8a8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */
  padding:5px;
  margin:0px;
  height:40px;
  border-bottom: 1px solid #515151;
}

#palette {
  position: relative;
  top: 30px;
  left: 10px;
  width: 50%; /* 6 columns */ 
}

#palette #sidebar .list-group .list-group-item {
  text-align: center;
  min-width: 100px;
}

#palette #sidebar .list-group-item {
  min-width: 130px;
}

#palette #sidebar .list-group-item :hover{
  border: 1px solid #1c9bab
}

#canvas {
  padding:0px;
  margin:0px;
  background-color:#FAFAFA;
}

#canvas_zoom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
}
#canvas_zoom button {
  background-color: transparent;
  font-weight: 300;
  font-size: 25px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  outline: none;
}
#canvas_zoom button:hover {
  border: 1px solid #1c9bab !important;
}
