
body{
  font-family:Helvetica, Arial, Verdana, sans-serif;
  color:#6b6b6b;
  margin: 0;
  padding: 0;
  overflow:scroll;
  width: 100%;
  overflow-x: hidden;
}

.navbar-static-top {
    margin-bottom: 0px;
}

.fileinput-button {
  position: relative;
  display: inline-block;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
  height: 60px;
  width: 60px;
  overflow: hidden;
}

input{
 background: none repeat scroll 0 0 #f8f8f8;
 border-color: #C6C6C6 #DADADA #EAEAEA;
 border-radius: 4px 4px 4px 4px;
 -moz-box-sizing: border-box;
 padding-left:7px;
 border-style: solid ;
 border-width: 1px;
 vertical-align: middle;
 height:25px;
 font-size:14px;
 line-height:25px;
}

.tab-pane {
  display: none;
  padding: 0px;
  height:100%;
  position:relative;
}

#editorTab {
  margin-top: 5px;
  margin-bottom: 5px;
}

.row .col-sm-4 .form-inline {
  margin-top: 5px;
  margin-bottom: 5px;
}

#container{
  position:absolute;
  width: 100%;
  padding:0px;
  margin:0px;
  top: 0px;
  bottom: 0px;
}

#navigation{
  position: absolute;
  padding:0px;
  margin:0px;
  width: 140px;
  top: 0px;
  bottom: 0px;
  overflow: scroll;
  background : transparent url(background_drak.jpg);
  text-align: center;
}

#toolbar{
  position: absolute;
  left: 140px;
  right: 0px;
  padding:0px;
  margin:0px;
  height:60px;
  background: #cecece; /* Old browsers */
  background: -moz-linear-gradient(top,  #cecece 0%, #a8a8a8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cecece 0%,#a8a8a8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */
}

.toolbar label {
  color: #777;
  font-weight: 200;
}

.toolbar .icon {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 0px;
}

#toolbar .group {
  padding-right:20px;
  display: inline-block;
  vertical-align: middle;
}

#toolbar .icon {
  cursor:pointer;
  border:1px solid transparent;
  position: relative;
  display: inline-block;
  text-align: center;
  color:#777;
  font-size:45px;
}

.toolbar .icon:hover {
  border: 1px solid #1c9bab;
}
.toolbar .icon.disabled {
  opacity: 0.2;
  border: 1px solid transparent;
}

#canvasWrapper {
  position: absolute;
  padding:0px;
  left: 140px;
  right: 0px;
  top: 60px;
  bottom: 0px;
  overflow:scroll;
}

#canvas {
  position: absolute;
  padding:0px;
  margin:0px;
  top:0px;
  bottom:0px;
  background-color:#FAFAFA;
}

#canvas_zoom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
}
#canvas_zoom button {
  background-color: transparent;
  font-weight: 300;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  outline: none;
}
#canvas_zoom button:hover {
  border: 1px solid #1c9bab !important;
}

#propertypane {
 padding:0px;
 margin:0px;
 width:150px;
 background-color:#7D7D7D;
 border-top:0px;
}

.toolbar_delimiter {
  margin-left:40px;
}


.palette_node_element{
 border:1px solid gray;
 background-color: #f3f3f3;
 padding:10px;
 cursor:move;
 width:80px;
 margin: 30px auto 30px auto;
 text-align:center;
 align:center;
 border-radius: 5px;
}

.shadow {
 -moz-box-shadow: 3px 3px 4px #000;
 -webkit-box-shadow: 3px 3px 4px #000;
 box-shadow: 3px 3px 4px #000;
 /* For IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
 /* For IE 5.5 - 7 */
 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}